.html {
    width: 100%;
}

.header {
    width: 100%;
    height: 100vh;
    background-color: rgb(39, 39, 39);
    display: flex;
    justify-content: center;   
}

.container {
    height: 700px;
    width: 450px;
    background-color: aliceblue;
    border-radius: 40px;
    margin: 15px 0 0 15px;
    position: relative;

}

.img_container {
    width: 100%;
    height: 300px;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 40px 40px 0 0;
}


.img1 {
    background-image: url(../img/family.jpg);
}

.img2 {
    background-image: url(../img/work.jpg);
}

.img3 {
    background-image: url(../img/friendswork.jpg);
}

.paket {
    text-align: center;
    font-family: 'intro', sans-serif;
    font-size: 28px;
    color: white;
    margin: 210px 0 0 10px;
    position: absolute;
}

.name-paket {
    width: 100%;
    font-family: 'OpenSans', sans-serif;
    font-size: 46px;
    color: #15a0ee;
    position: absolute;
    margin: 235px 0 0 8px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
 }

 .container-bottom {
    position: relative;    
    height: 400px;
    background-color: #0ea7e4;
    border-radius: 0 0 40px 40px;
    margin: 300px 0 0 0;
    background: linear-gradient(180deg, #33e0f5 0%, #02a1e3 100%);
 }

 .number {
    width: 100%;
    font-family: 'OpenSans', sans-serif;
    color: white;
    font-size: 48px;
    margin: 0 0 0 0;
    text-align: center;
 }

 .container-bottom-text {
    width: 100%;
    height: 35%;
    font-family: 'intro', sans-serif;
    font-size: 13px;
    color: white;
    margin: 0 0 0 0;
    position: absolute;
    margin: 0 0 0 0;
    display: flex;
 }

 .text {
    text-align: center;
    font-family: 'intro', sans-serif;
    font-size: 12px;
    color: white;
    
 }

 input {
    cursor: pointer;
    width: 250px;
    height: 60px;
    color: #299caf;
    font-family: 'OpenSans', sans-serif;
    font-size: 28px;
    border-radius: 4px;
    text-align: center;
    border-radius: 40px;
    margin: 320px 0 0 100px;
    background-color: #ffffff;
    border: none;
    transition: 0.3s;
 }

 input:hover {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    transform: scale(1.2);
}

.price {
    font-family: 'OpenSans', sans-serif;
    font-size: 58px;
    color: #ffffff;
    position: absolute;
    margin: 245px 0 0 0;
    width: 100%;
    text-align: center;
}

.wrapper-item {
    padding: 25px;
    width: 100px;
    height: 120px;
}